/*basic*/
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

header{
  color: #fff;
  padding-left:10px;
  font-family: 'Acme', sans-serif;
  display: inline;

}
button {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    color: #a43f49;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}


h1{
  text-align:center;
}
/*navbar top*/
.nav-bar{
  margin-top:10px;
}
.nav-bar a{
  display:inline;
  z-index:10;
  padding:5px;
  text-transform: uppercase;
  margin-top:10px;
  text-decoration: none;
  color:#fff;
}
.nav-bar a:hover{
  color:blue;
}
.navbar{
  background: #fff;
  margin-top: 0px;
  background-color: #a43f49;
  padding-top: 20px;
  padding-left:0px;
}

.nav-bar .navbar-brand{
  color:#fff;
  font-size:18px;
  font-weight: 500px;
}
.nav-bar .navbar-brand:hover{
  color:#007bff;
}

.topMenu{
display:none;
}
 .active{
  display:block;
}

/*side navbar*/
.sidebar {
  background: #a43f49;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.1s;
  transition-property: left;
  z-index: 1;
}

.sidebar .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
  font-family: times new roman;
  transition-property: background;
  border-bottom: 2px  solid white;

}

.sidebar a:hover{
  background: #efefef;
  color: #a43f49;
}

.sidebar i{
  padding-right: 10px;
}

 
label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -300px;
}

#check:checked ~ .sidebar a span{
  display: none;

}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}


#check:checked ~ .content{
  margin-left: 60px;
}

#check{
  display: none;
}


/*content*/
#content{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  color:#efefef;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 50px;
  margin:0px;
}

/*about*/
#about{
  padding:30px;
}
#about h1{
  line-height: 3vw;
  text-align:center;

}
/*about section*/
@media screen and (min-width: 851px) {
  #about h1{
    font-size: 35px;
  }
}

@media screen and (max-width: 850px) {
  #about h1 {
    font-size: 19px;
  }
}

}

/*skills*/

#skills h1{
  text-align: center;
  color: #efefef;
  padding-bottom: 20px;
  padding-top:20px;
  font-family: 'Lato', sans-serif;
}
#skills h1::after{
  content:' ';
  background: #efefef;
  display: block;
  height:3px;
  width:70px;
  margin:10px auto 5px;
  font-family: 'Lato', sans-serif;
}

#skills .col-mx-1{
      box-shadow:5px 5px 15px rgba(0,0,0,0.9);
      transition: 0.3s ease-out;
      margin:10px;
      border-radius: 2px;
      box-sizing: border-box;
      padding:0px;

}

#skills .col-mx-1:hover{
  box-shadow:0 0 5em rgba(0,0,0,0.4);
}
#skills h5 {
  text-align: center;
  color:#999;
  font-size:10px;
  padding:10px;
}
#skills{
  text-align: center;
}

#skills img{

    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;


  padding-bottom:10px;

}
#skills .row{
text-align: center;
}

/*myworks*/
/* Left & Right Post */

.right-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}
.left-image-post {
    margin-top: 60px;
    padding-top: 60px;
    border-top: 2px solid rgba(250, 250, 250, 0.1);
}


.left-image img,
.right-image img {
  border-radius: 5px;
  width:100%;
  height:100%;
}

.right-image-post h4,
.left-image-post h4 {
    margin-top: 0px;
}

.right-image-post p,
.left-image-post p {
    margin-top: 20px;
}

.right-image-post .white-button,
.left-image-post .white-button {
    margin-top: 30px;
    padding-bottom:10px;
}

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #fff;
    color: #a43f49;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    text-decoration: none;
}

.white-button a:hover {
    background-color: #a43f49;
    color: #fff;
}

button {
    display: inline-block;
    padding-right:10px;
    
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    outline: none;
    background-color: #a43f49;
    color: #fff;
}
.section-heading {
    text-align: center;
    padding: 10px 45px;
}
.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

/* interests */

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;

}

.service-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #A9A9A9 ;
    transition: all 0.5s;
}

.service-item h4 {
    transition: all 0.5s;
}
.service-item p {
    transition: all 0.5s;
}

.service-item:hover {
    background-color: rgba(250, 250, 250, 1);
}

.service-item:hover h4 {
    color: #1e1e1e;
}

.service-item:hover p {
    color: #4a4a4a;
}
.service-item button{
  background-color:rgba(250, 250, 250, 0.2);
}
.service-item button:hover{
  background-color:#2F9DEB;
}
.service-item a{
  color:#2F9DEB;
  text-decoration: none;
}
.service-item a:hover{
  color:rgba(250, 250, 250, 1);
}
.service-item img{
  width:100%;
  height:100%;
}


/* Contact Me */

section.contact-me {
    border-bottom: none;
}

#contact input {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact input:focus {
    outline: none;
    box-shadow: none;
}

#contact textarea {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid rgba(250,250,250,1);
    border-radius: 0px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 14px;
    height: 180px;
    max-height: 220px;
    line-height: 40px;
    width: 100%;
    padding-left: 15px;
}

#contact textarea:focus {
    outline: none;
    box-shadow: none;
}

#contact {
    text-align: center;
}

.social-media a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    transition: all 0.5s;
    text-decoration: none;
    margin: 0 3px;

}

 .social-media a:hover {
    background-color: #fff;
    color: #a43f49;   
    text-align: center;

}
 .social-media {
    padding-top: 50px;
    text-align: center;

}

 